<!DOCTYPE html>
<html>
  <head>
    <title>MoneyJoe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="container">
      <h1>MoneyJoe</h1>
    </div>

    {% block body %}{% endblock %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
  </body>
</html>
